{% extends 'base.html.twig' %}

{% block title %}Solicitud index{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="bg-secondary rounded h-100 p-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h3 class="mb-4">Solicitudes</h3>
            <form id="form-obtenerRoles">
                <input type="hidden" name="roles" value="{{ app.user.roles|join(', ') }}">
            </form>
            <table class="table" id="tablareserva">
                <thead>
                    <tr>
                        <th>IdSolicitud</th>
                        <th>Cliente</th>
                        <th>Observacion</th>
                        <th>EstadoSolicitud</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicituds %}
                    <tr>
                        <td>{{ solicitud.idSolicitud }}</td>
                        <td>{{ solicitud.idUsuario.nombre }}</td>
                        <td>{{ solicitud.observacion }}</td>
                        <td>{{ solicitud.estadoSolicitud }}</td>
                        <td>
                            <a href="{{ path('app_solicitud_show', {'idSolicitud': solicitud.idSolicitud}) }}">show</a>
                            <a href="{{ path('app_solicitud_edit', {'idSolicitud': solicitud.idSolicitud}) }}">edit</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-primary m-2" href="{{ path('app_solicitud_new') }}">Create new</a>
    </div>
</div>

{% endblock %}